li a {
    color: rgb(103, 223, 103);
}

body {
    background: black url("images/background.jpeg") no-repeat;
}

.polls_list{
    border: 5px outset green;
    background-color: black;
}
div{
    display: block;
}